// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// base font size for html. Needed for em and rem
$base-font-size: 16px;

/// Regular font family
$primary-font: 'Frank Ruhl Libre', sans-seri !default;
$secondary-font: 'Josefin Sans', sans-serif !default;

$font-color: #353535;
$font-color-lighter: #9c9c9c;
$font-color-light: #fff;
$font-color-brand: #95e1d4;
$font-color-highliht: #f38180;
$font-color-highliht-second: #fce28b;

$color-border-light: #e5e5e5;

$font-family-main: 'Montserrat', sans-serif;
$font-family-decorative: 'Kaushan Script', cursive;
$font-family-text: 'Roboto', sans-serif;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 991px,
) !default;




/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
/// $base-url: 'http://cdn.example.com/assets/';
$base-url: '' !default;



$susy: (
  columns: 12,
  container: 1200px,
  gutters: 0.418,
  math: fluid,
  output: float
);

$breakpoint-to-ems: true;

// standard breakpoint
$xs-small-phone-only: max-width 359px;
$xs-small-phone-only-up: 360px;
$small-phone-only-up: 460px;
$small-phone-only: max-width 459px;
$phone-only: max-width 599px;
$phone-only-up: 600px;
$between-phone-table: 600px 991px;
$between-portrait-landscape: 768px 991px;
$tablet-portrait: max-width 767px;
$tablet-portrait-up: 768px;
$tablet-landscape: max-width 991px;
$tablet-landscape-up: 992px;
$desktop-small: max-width 1099px;
$between-desktop-small-phone: 600px 1100px;
$desktop-small-up: min-width 1100px;
$desktop: max-width 1260;
$big-desktop: max-width 1800px;

// special breakpoint