<section class="s-about l-section" id="about">
  <header class="l-section__header">
    <h4 class="l-section__title-deco">What we do</h4>
    <h3 class="l-section__title">Story about us</h3>
  </header>

  <div class="l-section__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione dolore, accusantium iusto illo officia ipsam nulla? Laborum totam consequatur nemo asperiores adipisci repudiandae fugiat, quasi dolorem suscipit ex, voluptates pariatur!
  </div>

  <div class="s-about__list">
    <div class="s-about__item">
      <div class="s-about__item-wrap">
        <div class="s-about__title-content">
          <i class="s-about__icon fa fa-users" aria-hidden="true"></i>
          <h5 class="s-about__title">Super team</h5>
        </div>
        <img class="s-about__img" src="img/about-1.jpg" alt="">
      </div>
    </div>

    <div class="s-about__item">
      <div class="s-about__item-wrap">
        <div class="s-about__title-content">
          <i class="s-about__icon fa fa-university" aria-hidden="true"></i>
          <h5 class="s-about__title">Super experiance</h5>
        </div>
        <img class="s-about__img" src="img/about-2.jpg" alt="">
      </div>
    </div>

    <div class="s-about__item">
      <div class="s-about__item-wrap">
        <div class="s-about__title-content">
          <i class="s-about__icon fa fa-rocket" aria-hidden="true"></i>
          <h5 class="s-about__title">Super development</h5>
        </div>
        <img class="s-about__img" src="img/about-3.jpg" alt="">
      </div>
    </div>
  </div>
</section>