<section class="s-blog l-section" id="blog">
  <header class="l-section__header">
    <h4 class="l-section__title-deco">Our stories</h4>
    <h3 class="l-section__title">Latest blog</h3>
  </header>

  <div class="blog-list">
    <section class="blog-list__item">
      <div class="blog-list__top">
        <div class="blog-list__img-wrap">
          <img src="img/news-1.jpg" alt="" class="blog-list__img">
        </div>

        <div class="blog-list__date">
          <strong class="blog-list__date-day">15</strong>
          <span class="blog-list__date-month">Jan</span>
        </div>
      </div>

      <div class="blog-list__body">
        <h4 class="blog-list__title">lorem ipsum dolor sit amet</h4>
        <div class="blog-list__text">Consectetur adipiscing elit, sed do eisumod tempor incididunt ut laboer et dolore magna aliqua.</div>
        <div class="blog-list__footer">
          <div class="blog-list__footer-item blog-list__views"><i class="blog-list__icon fa fa-eye" aria-hidden="true"></i>542</div>
          <div class="blog-list__footer-item blog-list__comments"><i class="blog-list__icon fa fa-commenting" aria-hidden="true"></i>17</div>
        </div>
      </div>
    </section>

    <section class="blog-list__item">
      <div class="blog-list__top">
        <div class="blog-list__img-wrap">
          <img src="img/news-1.jpg" alt="" class="blog-list__img">
        </div>

        <div class="blog-list__date">
          <strong class="blog-list__date-day">15</strong>
          <span class="blog-list__date-month">Jan</span>
        </div>
      </div>

      <div class="blog-list__body">
        <h4 class="blog-list__title">lorem ipsum dolor sit amet</h4>
        <div class="blog-list__text">Consectetur adipiscing elit, sed do eisumod tempor incididunt ut laboer et dolore magna aliqua.</div>
        <div class="blog-list__footer">
          <div class="blog-list__footer-item blog-list__views"><i class="blog-list__icon fa fa-eye" aria-hidden="true"></i>542</div>
          <div class="blog-list__footer-item blog-list__comments"><i class="blog-list__icon fa fa-commenting" aria-hidden="true"></i>17</div>
        </div>
      </div>
    </section>

    <section class="blog-list__item">
      <div class="blog-list__top">
        <div class="blog-list__img-wrap">
          <img src="img/news-1.jpg" alt="" class="blog-list__img">
        </div>

        <div class="blog-list__date">
          <strong class="blog-list__date-day">15</strong>
          <span class="blog-list__date-month">Jan</span>
        </div>
      </div>

      <div class="blog-list__body">
        <h4 class="blog-list__title">lorem ipsum dolor sit amet</h4>
        <div class="blog-list__text">Consectetur adipiscing elit, sed do eisumod tempor incididunt ut laboer et dolore magna aliqua.</div>
        <div class="blog-list__footer">
          <div class="blog-list__footer-item blog-list__views"><i class="blog-list__icon fa fa-eye" aria-hidden="true"></i>542</div>
          <div class="blog-list__footer-item blog-list__comments"><i class="blog-list__icon fa fa-commenting" aria-hidden="true"></i>17</div>
        </div>
      </div>
    </section>
  </div>
</section>
