<section class="s-clients l-section">
  <header class="l-section__header">
    <h4 class="l-section__title-deco">Happy Clients</h4>
    <h3 class="l-section__title">What people say</h3>
  </header>

  <div class="s-clients__list">
    <div class="s-clients__list-item">
      <div class="s-clients__img-wrap">
        <img src="img/person-1.png" alt="" class="s-clients__img">
      </div>

      <div class="s-clients__body">
        <header class="s-clients__header">
          <h5 class="s-clients__name">Matthew Dix</h5>
          <h6 class="s-cliens__position">Graphic Design</h6>
        </header>

        <div class="s-clients__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nesciunt reiciendis provident est</div>
      </div>
    </div>

    <div class="s-clients__list-item">
      <div class="s-clients__img-wrap">
        <img src="img/person-2.png" alt="" class="s-clients__img">
      </div>

      <div class="s-clients__body">
        <header class="s-clients__header">
          <h5 class="s-clients__name">Matthew Dix</h5>
          <h6 class="s-cliens__position">Graphic Design</h6>
        </header>

        <div class="s-clients__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nesciunt reiciendis provident est</div>
      </div>
    </div>

    <div class="s-clients__list-item">
      <div class="s-clients__img-wrap">
        <img src="img/person-3.png" alt="" class="s-clients__img">
      </div>

      <div class="s-clients__body">
        <header class="s-clients__header">
          <h5 class="s-clients__name">Matthew Dix</h5>
          <h6 class="s-cliens__position">Graphic Design</h6>
        </header>

        <div class="s-clients__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nesciunt reiciendis provident est</div>
      </div>
    </div>

    <div class="s-clients__list-item">
      <div class="s-clients__img-wrap">
        <img src="img/person-4.png" alt="" class="s-clients__img">
      </div>

      <div class="s-clients__body">
        <header class="s-clients__header">
          <h5 class="s-clients__name">Matthew Dix</h5>
          <h6 class="s-cliens__position">Graphic Design</h6>
        </header>

        <div class="s-clients__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nesciunt reiciendis provident est</div>
      </div>
    </div>
  </div>
</section>
