<section class="s-design l-section">
  <header class="l-section__header">
    <h4 class="l-section__title-deco">For all devices</h4>
    <h3 class="l-section__title">Unique design</h3>
  </header>

  <div class="s-design__devices-wrap">
    <img src="img/tablet.png" alt="" class="s-design__tablet">
    <img src="img/phone.png" alt="" class="s-design__phone">
  </div>
</section>