<footer class="l-footer">
    <div class="l-footer__item-info l-footer__item">
      <div class="l-footer-info">
        <h4 class="l-footer__info-title">MoGo</h4>
        <div class="l-footer__info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto voluptatibus quisquam asperiores ab, praesentium doloremque eius rerum, excepturi deserunt. Architecto voluptatibus quisquam asperiores ab.</div>
      </div>

      <div class="l-footer__socials">
        <div class="l-socials__followers"><strong>15k</strong> followers</div>
        <div class="l-socials__follow-wrap">
          <span class="l-socials__follow">Follow Us:</span>
          <ul class="l-socials__list">
            <li class="l-socials__item"><a href="#" class="l-socials__link"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="l-socials__item"><a href="#" class="l-socials__link"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="l-socials__item"><a href="#" class="l-socials__link"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li class="l-socials__item"><a href="#" class="l-socials__link"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
            <li class="l-socials__item"><a href="#" class="l-socials__link"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li class="l-socials__item"><a href="#" class="l-socials__link"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            <li class="l-socials__item"><a href="#" class="l-socials__link"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li class="l-socials__item"><a href="#" class="l-socials__link"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="newsletter-short">
        <form action="#" class="newsletter-short__form">
          <input type="text" class="f-input" placeholder="Your Email">
          <button class="btn">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="l-footer__item-blogs l-footer__item">
      <h4 class="l-footer__title">Blogs</h4>

      <div class="f-blogs__list">
        <section class="f-blogs__item">
          <div class="f-blogs__img-wrap"><img src="img/f-b-1.jpg" alt="" class="f-blogs__img"></div>
          <div class="f-blogs__text-wrap">
            <h5 class="f-blogs__title">Lorem ipsum dolor sit amet. Consecteur Adipscing</h5>
            <time class="f-blogs__date" datetime="2017-02-09">jan 9, 2016</time>
          </div>
        </section>

        <section class="f-blogs__item">
          <div class="f-blogs__img-wrap"><img src="img/f-b-1.jpg" alt="" class="f-blogs__img"></div>
          <div class="f-blogs__text-wrap">
            <h5 class="f-blogs__title">Lorem ipsum dolor sit amet. Consecteur Adipscing</h5>
            <time class="f-blogs__date" datetime="2017-02-09">jan 9, 2016</time>
          </div>
        </section>
        
        <section class="f-blogs__item">
          <div class="f-blogs__img-wrap"><img src="img/f-b-1.jpg" alt="" class="f-blogs__img"></div>
          <div class="f-blogs__text-wrap">
            <h5 class="f-blogs__title">Lorem ipsum dolor sit amet. Consecteur Adipscing</h5>
            <time class="f-blogs__date" datetime="2017-02-09">jan 9, 2016</time>
          </div>
        </section>
      </div>
    </div>

    <div class="l-footer__item-instagram l-footer__item">
      <h4 class="l-footer__title">Instagram</h4>

      <div class="f-instagram__list">
        <div class="f-instagram__item">
          <img src="img/f-i-1.jpg" alt="" class="f-instagram__img">
        </div>

        <div class="f-instagram__item">
          <img src="img/f-i-2.jpg" alt="" class="f-instagram__img">
        </div>

        <div class="f-instagram__item">
          <img src="img/f-i-3.jpg" alt="" class="f-instagram__img">
        </div>

        <div class="f-instagram__item">
          <img src="img/f-i-4.jpg" alt="" class="f-instagram__img">
        </div>

        <div class="f-instagram__item">
          <img src="img/f-i-5.jpg" alt="" class="f-instagram__img">
        </div>

        <div class="f-instagram__item">
          <img src="img/f-i-6.jpg" alt="" class="f-instagram__img">
        </div>

        <div class="f-instagram__item">
          <img src="img/f-i-7.jpg" alt="" class="f-instagram__img">
        </div>

        <div class="f-instagram__item">
          <img src="img/f-i-8.jpg" alt="" class="f-instagram__img">
        </div>

        <div class="f-instagram__item">
          <img src="img/f-i-9.jpg" alt="" class="f-instagram__img">
        </div>
      </div>

      <a href="#" class="f-instagram__more-link">View more photos</a>
    </div>

    <div class="copyrights">&copy; Mogo free Template by <a href="#">Laaqiq</a></div>
</footer>
