<div class="s-logos">
  <ul class="s-logos__list">
    <li class="s-logos__list-item"><img src="img/brand-1.png" alt="" class="s-logos__img"></li>
    <li class="s-logos__list-item"><img src="img/brand-2.png" alt="" class="s-logos__img"></li>
    <li class="s-logos__list-item"><img src="img/brand-3.png" alt="" class="s-logos__img"></li>
    <li class="s-logos__list-item"><img src="img/brand-4.png" alt="" class="s-logos__img"></li>
    <li class="s-logos__list-item"><img src="img/brand-5.png" alt="" class="s-logos__img"></li>
    <li class="s-logos__list-item"><img src="img/brand-6.png" alt="" class="s-logos__img"></li>
    <li class="s-logos__list-item"><img src="img/brand-1.png" alt="" class="s-logos__img"></li>
    <li class="s-logos__list-item"><img src="img/brand-2.png" alt="" class="s-logos__img"></li>
    <li class="s-logos__list-item"><img src="img/brand-3.png" alt="" class="s-logos__img"></li>
  </ul>
</div>