<header class="l-header">
  <div class="l-header__container">
    <a href="#home" class="logo">MoGo</a>

    <nav class="l-nav">
      <button class="nav-btn">
        <span class="nav-btn__line"></span>
        <span class="nav-btn__line"></span>
        <span class="nav-btn__line"></span>
      </button>
      
      <ul class="l-nav__list">
        <li class="l-nav__list-item">
          <a href="#about" class="l-nav__link">About</a>
        </li>

        <li class="l-nav__list-item">
          <a href="#service" class="l-nav__link">Service</a>
        </li>

        <li class="l-nav__list-item">
          <a href="#work" class="l-nav__link">Work</a>
        </li>

        <li class="l-nav__list-item">
          <a href="#blog" class="l-nav__link">Blog</a>
        </li>

        <li class="l-nav__list-item">
          <a href="#map" class="l-nav__link">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="head-actions">
      <button class="head-actions__icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
      <button class="head-actions__icon"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
  </div>
</header>