<div class="s-numbers">
  <div class="page-container">
    <div class="s-numbers__item">
      <div class="s-numbers__value">42</div>
      <div class="s-numbers__title">Web design projects</div>
    </div>

    <div class="s-numbers__item">
      <div class="s-numbers__value">123</div>
      <div class="s-numbers__title">Happy client</div>
    </div>

    <div class="s-numbers__item">
      <div class="s-numbers__value">15</div>
      <div class="s-numbers__title">Award winner</div>
    </div>

    <div class="s-numbers__item">
      <div class="s-numbers__value">99</div>
      <div class="s-numbers__title">cup of coffee</div>
    </div>

    <div class="s-numbers__item">
      <div class="s-numbers__value">24</div>
      <div class="s-numbers__title">Memebers</div>
    </div>
  </div>
</div>