<section class="s-service l-section" id="service">
  <header class="l-section__header">
    <h4 class="l-section__title-deco">We work with</h4>
    <h3 class="l-section__title">Amazing services</h3>
  </header>

  <div class="s-service__list">
    <div class="s-service__item">
      <div class="s-service__img-wrap">
        <img src="img/ico-service-1.png" alt="" class="s-service__img">
      </div>

      <div class="s-service__text-wrap">
        <h5 class="s-service__title">Photography</h5>
        <div class="s-service__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>

    <div class="s-service__item">
      <div class="s-service__img-wrap">
        <img src="img/ico-service-2.png" alt="" class="s-service__img">
      </div>

      <div class="s-service__text-wrap">
        <h5 class="s-service__title">Web Design</h5>
        <div class="s-service__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>

    <div class="s-service__item">
      <div class="s-service__img-wrap">
        <img src="img/ico-service-3.png" alt="" class="s-service__img">
      </div>

      <div class="s-service__text-wrap">
        <h5 class="s-service__title">Creativity</h5>
        <div class="s-service__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>

    <div class="s-service__item">
      <div class="s-service__img-wrap">
        <img src="img/ico-service-4.png" alt="" class="s-service__img">
      </div>

      <div class="s-service__text-wrap">
        <h5 class="s-service__title">Seo</h5>
        <div class="s-service__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>

    <div class="s-service__item">
      <div class="s-service__img-wrap">
        <img src="img/ico-service-5.png" alt="" class="s-service__img">
      </div>

      <div class="s-service__text-wrap">
        <h5 class="s-service__title">css/html</h5>
        <div class="s-service__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>

    <div class="s-service__item">
      <div class="s-service__img-wrap">
        <img src="img/ico-service-6.png" alt="" class="s-service__img">
      </div>

      <div class="s-service__text-wrap">
        <h5 class="s-service__title">Digital</h5>
        <div class="s-service__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
      </div>
    </div>
  </div>
</section>