<div class="h-slider">
  <div class="h-slider__item" style="background-image: url('img/slider-1.jpg')">
    <div class="h-slider__text-wrap">
      <h3 class="h-slider__title-deco">Creative Template</h3>
      <h4 class="h-slider__title">Welcome<br>to Mogo</h4>

      <button class="h-slider__btn">Learn more</button>
    </div>
  </div>

  <div class="h-slider__item" style="background-image: url('img/slider-2.jpg')">
    <div class="h-slider__text-wrap">
      <h3 class="h-slider__title-deco">Creative Template</h3>
      <h4 class="h-slider__title">Welcome<br>to Mogo</h4>

      <button class="h-slider__btn">Learn more</button>
    </div>
  </div>

  <div class="h-slider__item" style="background-image: url('img/slider-3.jpg')">
    <div class="h-slider__text-wrap">
      <h3 class="h-slider__title-deco">Creative Template</h3>
      <h4 class="h-slider__title">Welcome<br>to Mogo</h4>

      <button class="h-slider__btn">Learn more</button>
    </div>
  </div>

  <div class="h-slider__item" style="background-image: url('img/slider-4.jpg')">
    <div class="h-slider__text-wrap">
      <h3 class="h-slider__title-deco">Creative Template</h3>
      <h4 class="h-slider__title">Welcome<br>to Mogo</h4>

      <button class="h-slider__btn">Learn more</button>
    </div>
  </div>
</div>