<section class="s-team l-section">
  <header class="l-section__header">
    <h4 class="l-section__title-deco">Who we are</h4>
    <h3 class="l-section__title">Meet our team</h3>
  </header>

  <div class="l-section__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione dolore, accusantium iusto illo officia ipsam nulla? Laborum totam consequatur nemo asperiores adipisci repudiandae fugiat, quasi dolorem suscipit ex, voluptates pariatur!
  </div>

  <div class="s-team__list">
    <div class="s-team__item">
      <div class="s-team__item-wrap--bg">
          <div class="s-team__item-wrap">
          <div class="s-team__socials-content">
            <a href="#" class="s-team__socials-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="s-team__socials-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" class="s-team__socials-link"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a href="#" class="s-team__socials-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          <img class="s-team__img" src="img/team-1.jpg" alt="">
        </div>
      </div>

      <header class="s-team__person-data">
        <h5 class="s-team__author">Matthew Dix</h5>
        <h6 class="s-team__position">Graphic Design</h6>
      </header>
    </div>

    <div class="s-team__item">
      <div class="s-team__item-wrap--bg">
        <div class="s-team__item-wrap">
          <div class="s-team__socials-content">
            <a href="#" class="s-team__socials-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="s-team__socials-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" class="s-team__socials-link"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a href="#" class="s-team__socials-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          <img class="s-team__img" src="img/team-2.jpg" alt="">
        </div>
      </div>

      <header class="s-team__person-data">
        <h5 class="s-team__author">Christopher Campbell</h5>
        <h6 class="s-team__position">Branding/UX design</h6>
      </header>
    </div>

    <div class="s-team__item">
      <div class="s-team__item-wrap--bg">
        <div class="s-team__item-wrap">
          <div class="s-team__socials-content">
            <a href="#" class="s-team__socials-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="s-team__socials-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#" class="s-team__socials-link"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a href="#" class="s-team__socials-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
          <img class="s-team__img" src="img/team-3.jpg" alt="">
        </div>
      </div>

      <header class="s-team__person-data">
        <h5 class="s-team__author">Micheal Fertig</h5>
        <h6 class="s-team__position">Developer</h6>
      </header>
    </div>

  </div>
</section>