<div class="testi">
  <div class="testi__list">
    <div class="testi__item">
      <div class="testi__text-wrap--with-icon testi__item-wrap">
        <div class="testi__text-wrap">
          <div class="testi__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A recusandae quo accusantium ipsa assumenda, eligendi tempora sint labore illum. A recusandae quo accusantium ipsa assumenda, eligendi tempora.</div>
          <div class="testi_author">Jon Doe</div>
        </div>
      </div>
    </div>

    <div class="testi__item">
      <div class="testi__text-wrap--with-icon testi__item-wrap">
        <div class="testi__text-wrap">
          <div class="testi__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A recusandae quo accusantium ipsa assumenda, eligendi tempora sint labore illum. A recusandae quo accusantium ipsa assumenda, eligendi tempora.</div>
          <div class="testi_author">Jon Doe</div>
        </div>
      </div>
    </div>

    <div class="testi__item">
      <div class="testi__text-wrap--with-icon testi__item-wrap">
        <div class="testi__text-wrap">
          <div class="testi__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A recusandae quo accusantium ipsa assumenda, eligendi tempora sint labore illum. A recusandae quo accusantium ipsa assumenda, eligendi tempora.</div>
          <div class="testi_author">Jon Doe</div>
        </div>
      </div>
    </div>
  </div>
</div>