<section class="s-work l-section" id="work">
  <header class="l-section__header">
    <h4 class="l-section__title-deco">Who we do</h4>
    <h3 class="l-section__title">Some of our work</h3>
  </header>

  <div class="l-section__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione dolore, accusantium iusto illo officia ipsam nulla? Laborum totam consequatur nemo asperiores adipisci repudiandae fugiat, quasi dolorem suscipit ex, voluptates pariatur!
  </div>

  <div class="s-work__gallery">
    <div class="s-work__gallery-col-6">
      <div class="s-work__gallery-item">
        <div class="s-work__gallery-desc">
            <img class="s-work__gallery-ico" src="img/gallery-ico-hover.png" alt="">
            <h6 class="s-work__gallery-title">Creatively Designed</h6>
            <p class="s-work__gallery-text">Lorem ipsum dolor sit</p>
        </div>

        <img src="img/gallery-1.jpg" alt="" class="s-work__gallery-img">
      </div>

      <div class="s-work__gallery-item">
        <div class="s-work__gallery-desc">
            <img class="s-work__gallery-ico" src="img/gallery-ico-hover.png" alt="">
            <h6 class="s-work__gallery-title">Creatively Designed</h6>
            <p class="s-work__gallery-text">Lorem ipsum dolor sit</p>
        </div>

        <img src="img/gallery-2.jpg" alt="" class="s-work__gallery-img">
      </div>

      <div class="s-work__gallery-item">
        <div class="s-work__gallery-desc">
            <img class="s-work__gallery-ico" src="img/gallery-ico-hover.png" alt="">
            <h6 class="s-work__gallery-title">Creatively Designed</h6>
            <p class="s-work__gallery-text">Lorem ipsum dolor sit</p>
        </div>

        <img src="img/gallery-3.jpg" alt="" class="s-work__gallery-img">
      </div>

      <div class="s-work__gallery-item">
        <div class="s-work__gallery-desc">
            <img class="s-work__gallery-ico" src="img/gallery-ico-hover.png" alt="">
            <h6 class="s-work__gallery-title">Creatively Designed</h6>
            <p class="s-work__gallery-text">Lorem ipsum dolor sit</p>
        </div>

        <img src="img/gallery-4.jpg" alt="" class="s-work__gallery-img">
      </div>
    </div>

    <div class="s-work__gallery-col-6">
        <div class="s-work__gallery-item">
          <div class="s-work__gallery-desc">
              <img class="s-work__gallery-ico" src="img/gallery-ico-hover.png" alt="">
              <h6 class="s-work__gallery-title">Creatively Designed</h6>
              <p class="s-work__gallery-text">Lorem ipsum dolor sit</p>
          </div>

          <img src="img/gallery-5.jpg" alt="" class="s-work__gallery-img">
        </div>

        <div class="s-work__gallery-item">
          <div class="s-work__gallery-desc">
              <img class="s-work__gallery-ico" src="img/gallery-ico-hover.png" alt="">
              <h6 class="s-work__gallery-title">Creatively Designed</h6>
              <p class="s-work__gallery-text">Lorem ipsum dolor sit</p>
          </div>

          <img src="img/gallery-6.jpg" alt="" class="s-work__gallery-img">
        </div>

        <div class="s-work__gallery-item">
          <div class="s-work__gallery-desc">
              <img class="s-work__gallery-ico" src="img/gallery-ico-hover.png" alt="">
              <h6 class="s-work__gallery-title">Creatively Designed</h6>
              <p class="s-work__gallery-text">Lorem ipsum dolor sit</p>
          </div>

          <img src="img/gallery-7.jpg" alt="" class="s-work__gallery-img">
        </div>
    </div>
  </div>
</section>