<section class="s-wwd l-section">
  <header class="l-section__header">
    <h4 class="l-section__title-deco">Service</h4>
    <h3 class="l-section__title">What we do</h3>
  </header>

  <div class="l-section__text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione dolore, accusantium iusto illo officia ipsam nulla? Laborum totam consequatur nemo asperiores adipisci repudiandae fugiat, quasi dolorem suscipit ex, voluptates pariatur!
  </div>

  <div class="s-wwd__main">
    <div class="s-wwd__img-wrap">
      <img class="s-wwd__img" src="img/service2-img.jpg" alt="">
    </div>

    <div class="s-wwd__list">
      <section class="s-wwd__item is_active">
        <header class="s-wwd__item-header">
          <img src="img/ico-service2-1.png" alt="" class="s-wwd__item-icon">
          <h5 class="s-wwd__item-title">Photography</h5>
        </header>

        <div class="s-wwd__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p>Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus.</p>
        </div>
      </section>

      <section class="s-wwd__item">
        <header class="s-wwd__item-header">
          <img src="img/ico-service2-2.png" alt="" class="s-wwd__item-icon">
          <h5 class="s-wwd__item-title">Creativity</h5>
        </header>

        <div class="s-wwd__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p>Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus.</p>
        </div>
      </section>

      <section class="s-wwd__item">
        <header class="s-wwd__item-header">
          <img src="img/ico-service2-3.png" alt="" class="s-wwd__item-icon">
          <h5 class="s-wwd__item-title">Web Design</h5>
        </header>

        <div class="s-wwd__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p>Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit vero nesciunt iure vel nisi ad tenetur accusamus, aperiam, molestiae, optio ipsum amet fuga omnis animi facere sapiente ab aut ducimus.</p>
        </div>
      </section>
    </div>
  </div>
</section>