.f-blogs {
  &__list {
    
  }

  &__item {
    @extend %flex-center;

    margin-bottom: em(30px);
  }

  &__text-wrap {
    margin-left: em(18px);
  }

  &__title {
    margin: 0;

    font-size: rem(12px);
    font-weight: 400;
    line-height: 1.9;
    text-transform: uppercase;
  }

  &__date {
    color: $font-color-lighter;
    font-family: $font-family-text;
    font-size: rem(14px);
    font-style: italic;
  }
}