.s-clients {
  background: url('../img/another-bg-big.jpg') center center/cover;

  &__list {
    @extend .page-container;
    @include container(1100px);

    margin-top: em(95px);
  }

  &__list-item {
    &:not(:last-child) {
      margin-bottom: 67px;
    }

    @include breakpoint($tablet-landscape-up) {
      @include with-layout(10 3) {
        @include span(5);
      }

      &:nth-child(2n-1) {
        clear: both;
      }

      &:nth-child(2n) {
        @include with-layout(10 3) {
          @include span(5 last);
        }
      }
    }
  }

  &__img-wrap {
    border-radius: 100%;
    overflow: hidden;

    @include breakpoint($xs-small-phone-only-up) {
      float: left;
    }
  }

  &__img {
    width: 100%;
    display: block;

    @include breakpoint($xs-small-phone-only) {
      width: em(150px);
      margin: 0 auto em(30px);
    }
  }

  &__body {
    @include breakpoint($xs-small-phone-only-up) {
      padding-left: 137px;
    }
  }

  &__header {
    @include breakpoint($xs-small-phone-only) {
      text-align: center;
    }

    &::after {
      content: '';
      width: 60px;
      height: 3px;
      margin: em(18px) 0 em(18px);
      display: block;
      background: $font-color-highliht;

      @include breakpoint($xs-small-phone-only) {
        margin: em(18px) auto;
      }
    }
  }

  &__name {
    margin: 0 0 12px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .s-cliens__position {
    margin: 0;

    font-family: $font-family-text;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
  }

  &__text {
    color: $font-color-lighter;
    font-family: $font-family-text;
    font-size: rem(15px);
    font-weight: 300;
    line-height: 1.6;
  }  
}