.s-logos {
  @extend .page-container;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    .slick-track {
      @extend %flex-center;
    }    
  }

  .slick-slide img {
    max-width: 99%;
    margin: 0 auto;
  }
}